<div class="slider">
    <input type="radio" name="slider" checked="checked" class="slider__nav" />
    <input type="radio" name="slider" class="slider__nav" />
    <input type="radio" name="slider" class="slider__nav" />
    <input type="radio" name="slider" class="slider__nav" />
    <div class="slider__inner">
        <div class="slider__contents">
            <div class="slider__image">
                <img src="img/offers/BathingsuitSpongebob.png">
            </div>
            <p class="slider__txt">DESCUBRÍ LAS OFERTAS PARA EL DIA DEL NIÑEZ</p>
        </div>
        <div class="slider__contents">
            <div class="slider__image">
                <img src="img/offers/turtle-2743634_640.png">
            </div>
            <p class="slider__txt">ADEMAS DE UNA GRAN VARIEDAD DE PELUCHES</p>
        </div>
        <div class="slider__contents">
            <div class="slider__image">
                <img src="img/offers/bear_PNG1185.png">
            </div>
            <p class="slider__txt">EL REGALO PERFECTO PARA ESA PERSONA</p>
        </div>
        <div class="slider__contents">
            <div class="slider__image">
                <img src="img/offers/Toy_Story_logo.svg.png">
            </div>
            <p class="slider__txt">IMPORTADORES OFICIALES DE TOY STORY</p>
        </div>
    </div>
</div>
<section class="section-cards" >
    <header class="section-cards__header">
        <h1>Los productos mas vendidos</h1>
    </header>
    <div class="cards-container" id="cardContainer">

    </div>
    <div class="main-promises">
        <div class="main-promises__option">
            <a><img src="img/promises/delivery.png" alt=""></a>
            <p>Entregas en el día</p>
        </div>
        <div class="main-promises__option">
            <a><img src="img/promises/envios_todo_pais.png" alt=""></a>
            <p>Envios a todo el país</p>
        </div>
        <div class="main-promises__option">
            <a><img src="img/promises/takeaway.png" alt=""></a>
            <p>Retiro en sucursal</p>
        </div>
        <div class="main-promises__option">
            <a><img src="img/promises/medio_de_pagos.png" alt=""></a>
            <p>Métodos de pago</p>
        </div>
    </div>
    <div class="producto-agregado" id="productAdded">
        <p>PRODUCTO AGREGADO</p>
    </div>
    <footer class="section-cards__footer">
    </footer>
</section>