<div id="main-nosotros">
    <fieldset class="secondary-form__formato-container form-style-8">
        <legend>
            <h2><p id="ins">Tic Tac Toe</p></h2>
        </legend>
        <h1 class="game-title">En Juguetería Cósmica la diversión nunca termina!</h1>
        <p id="dins">Cada jugador solo debe colocar su símbolo una vez por turno y no debe ser sobre una casilla ya
            jugada.
            Se debe conseguir realizar una línea recta o diagonal por símbolo. Divertite!</p>
        <br><br>
        <input type="text" id="b1" class="blocked" readonly>
        <input type="text" id="b2" class="blocked" readonly>
        <input type="text" id="b3" class="blocked" readonly>
        <br><br>
        <input type="text" id="b4" class="blocked" readonly>
        <input type="text" id="b5" class="blocked" readonly>
        <input type="text" id="b6" class="blocked" readonly>
        <br><br>
        <input type="text" id="b7" class="blocked" readonly>
        <input type="text" id="b8" class="blocked" readonly>
        <input type="text" id="b9" class="blocked" readonly>
        <br><br><br>
        <button id="but">Reset</button>
        <br><br>
        <p id="print"></p>
    </fieldset>
</div>